
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 16rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 48%; 
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .badge {
    background-color: #4caf50;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 12px;
  }
  
  .product-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
    color: #333;
  }
  
  .product-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #e91e63;
  }
  
  /* Product Image Section */
  .product-image-container {
    flex: 1;
    text-align: right;
  }
  
  .product-image {
    max-width: 180px;
    height: auto;
    transition: all 0.3 ease-in-out;
  }
  .product-image:hover{
    transform: scale(1.05);
  }
  